body {
    background-color: #cae5fd;
    display: flex;
    font-family: 'Ubuntu Mono', monospace;
    justify-content: center;
}

.quiz-area {
    align-self: flex-start;
    border-radius: 20px;
    background: white url("../Images/html-element.png");
    background-size: cover;
    display: flex;
    flex-flow: column;
    height: 90vmin;
    justify-content: flex-start;
    margin: 20px;
    width: 90vmin;
}

.quiz-title {
    background-color: #fd983f;
    border-radius: inherit;
    margin: 7% 10% 3% 10%;
    padding: 10px;
    text-align: left;
}

.flex-container {
    align-content: center;
    background-color: transparent;
    border-radius: inherit;
    display: flex;
    flex-basis: 100vmin;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10% 5% 10%;
    text-align: center;
}

.flex-item {
    background-color: transparent;
    border: 2px solid #cae5fd;
    border-radius: inherit;
    height: 30%;
    margin: 1%;
    width: 30%;
}